PROXMOX_USERNAME=root@pam
PROXMOX_PASSWORD=
PROXMOX_API_URL=https://proxmox:8006/api2/json
ZABBIX_SERVER=localhost
ZABBIX_SERVER_PORT=10051
ZABBIX_HOSTNAME=
CACHE_ENABLE=true
CACHE_FILE=/tmp/zbx-proxmox-cache
